.settings-page {
    padding: 50px 0 150px;
    background-color: #f4f6f5;
}


.settings-page__tabs {
    display: flex;

    .tabs {
        max-width: 270px;
        height: 283px;
        width: 100%;
        margin-right: 30px;
        border: 1px solid #dedede;
        display: block;
        text-align-last: left;


        span {
            display: block;
            background-color: #fff;
            border-bottom: 1px solid #dedede;
            padding: 15px 30px;
            font-size: 14px;
            color: #707070;
            font-weight: 500;
            font-family: 'Roboto-Medium';
            position: relative;
            padding-left: 50px;
        }

        & span:before {
            content: "";
            background-image: url('../images/footer/arrows.png');
            background-repeat: no-repeat;
            display: block;
            width: 6px;
            height: 11px;
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .tabs .tab.active {
        border-bottom: 3px solid $green;
    }

    .tab_content {
        width: 100%;
        border: 1px solid #e8e8e8;
        padding: 0 0 75px;
    }
}


.settings-page__title {
    font-size: 24px;
    color: $color-bg;
    font-weight: 500;
    font-family: 'Roboto-Medium';
    border-bottom: 1px solid #dcdcdc;
    padding: 20px 30px;
}

.settings-page__line {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 30px;
    position: relative;

    select {
        max-width: 540px;
        width: 100%;
        height: 40px;
        padding: 0px 30px 0 10px;
        background-color: #f9f9f9;
        border: 1px solid #dcdcdc;
        outline: none;
        color: #707070;
        appearance: none;
    }

}


.settings-page__input {
    max-width: 540px;
    width: 100%;
    height: 40px;
    padding: 0px 30px 0 10px;
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    outline: none;
    color: #000;
}

.settings-page__line-name {
    color: #444444;
    padding: 10px 0;
}

.settings-page__button {
    width: 110px;
    height: 45px;
    padding: 13px;
    text-align: center;
    background-color: $green;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 298px;

}

.settings-page__content {
    .jq-selectbox {
        max-width: 540px;
        width: 100%;
    }
}